name: Build and Deploy

on:
  release:
    types: [published]

defaults:
  run:
    shell: bash

env:
  CONTAINER_BASE_PATH: gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCR_BASE_PATH }}

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup gcloud CLI
        uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: '290.0.1'
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCLOUD_SERVICE_ACCOUNT_KEY }}
          export_default_credentials: true

      - name: Update System PATH
        run: echo "::add-path::$GITHUB_WORKSPACE/bats/bin"

      - name: Build Worker Images
        run: ./build.sh

      - name: Push Worker Images to Google Container Registry
        run: ./push_docker_images.sh
